extends layout.pug

block meta
  link(rel='stylesheet', type='text/css', href='/styles/toastify.css')
  script(type='text/javascript', src='/js/toastify.js')

block content
  main.main
    textarea(id="tinymce-editor")
  block script
    script.
      var postContent= !{JSON.stringify(postContent)}
      var postTitle =!{JSON.stringify(postTitle)}
      var postId =!{JSON.stringify(postId)}
    script(type="application/javascript" src="/tinymce/tinymce.min.js")
    script(type="application/javascript" src="/js/tinymce-config.js")
