doctype html
html(lang="en")
  head
    <!-- Google Tag Manager -->
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5CKF2QNT');
    <!-- End Google Tag Manager -->
    title= doctitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="My personal web logs about technology.")
    link(rel="stylesheet" href="/styles/styles.css")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    block meta
    block scripts
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5CKF2QNT", height="0", width="0", style="display:none;visibility:hidden")
    <!-- End Google Tag Manager (noscript) -->
    header.site-header
      nav.site-nav
        a(href='/' title="Home" role="navigation" aria-label="Home page").site-logo sercan.io
        .site-nav__navlinks
          a(href='/me' title="About Me" role="navigation" aria-label="About me").nav-link me -
          if authorized
            a(href='/post/add' title="Add New Post" role="navigation" aria-label="Add Post").nav-link add post -
            a(href='/auth/logout' title="Logout" role="navigation" aria-label="Logout").nav-link logout
    block content
