doctype html
html(lang="en")
  head
    title= doctitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="My personal web logs about technology.")
    link(rel="stylesheet" href="/styles/styles.css")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    block meta
    block scripts
  body
    header.site-header
      nav.site-nav
        a(href='/' title="Home" role="navigation" aria-label="Home page").site-logo sercan.io
        .site-nav__navlinks
          a(href='/me' title="About Me" role="navigation" aria-label="About me").nav-link me -
          if authorized
            a(href='/post/add' title="Add New Post" role="navigation" aria-label="Add Post").nav-link add post -
            a(href='/auth/logout' title="Logout" role="navigation" aria-label="Logout").nav-link logout
    block content
