extends layout.pug

block meta
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@sercan_io')
    meta(name='twitter:title', content='Sercan Ateş | Web Logs')
    meta(name='twitter:description', content='About Me')
    meta(name='twitter:creator', content='@sercan_io')
    meta(name='twitter:image', content='https://sercan.io/images/sitelogo.jpg')

    //- Open Graph data
    meta(property='og:site_name', content='sercan.io')
    meta(property='og:locale', content='en_US')
    meta(property='og:locale:alternate', content='tr_TR')
    meta(property='og:type', content='article')
    meta(property='og:url', content='https://sercan.io/me')
    meta(property='og:title', content='Sercan Ateş | Web Logs')
    meta(property='og:description', content='About Me')
    meta(property='og:image', content='https://sercan.io/images/sitelogo.jpg')

block content
  main.main
    .aboutme
      .aboutme__container
        .aboutme__hero
          .aboutme__hero__innercontainer
            h1.aboutme__hero__title hello there
            p.aboutme__hero__text connect with me on various platforms to stay updated with my latest projects and thoughts. Feel free to reach out —I'm always open to interesting conversations and collaborations.
        .social-media
          a(href="https://github.com/sercanio", target="_blank", rel="noopener").nav-link github

