extends layout.pug

block meta
  meta(property="og:title", content="sercan ateş")
  meta(property="og:description", content="personal web logs")
  meta(property="og:url", content="https://sercan.io/me")
  meta(property="og:image", content="")
  meta(name="twitter:title", content="sercan ateş")
  meta(name="twitter:description", content="personal web logs")
  meta(name="twitter:image", content="")
  meta(name="twitter:card", content="summary_large_image")

block content
  main.main
    .aboutme
      .aboutme__container
        .aboutme__hero
          .aboutme__hero__innercontainer
            h1.aboutme__hero__title hello there
            p.aboutme__hero__text connect with me on various platforms to stay updated with my latest projects and thoughts. Feel free to reach out —I'm always open to interesting conversations and collaborations.
        .social-media
          a(href="https://linkedin.com/in/sercanates", target="_blank", rel="noopener").nav-link linkedin
          a(href="https://github.com/sercanio", target="_blank", rel="noopener").nav-link github

