extends layout.pug

block content
  main.main
    textarea(id="tinymce-editor")

  block script
    script(type="application/javascript" src="/tinymce/tinymce.min.js")
    script(type="application/javascript" src="/js/tinymce-config.js")