doctype html
html(lang="en")
  head
    title= doctitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="My personal web logs about technology.")
    link(rel="icon" type="image/png" href="/public/favicon.png")/
    link(rel="stylesheet" href="/style/styles.css")

    block scripts
  body
    header.siteheader
      div.navbar.sitenavbar
        div.sitenavbar__container
          a(href='/').site-logo sercan.io
          a(href='/me').nav-link about me
    block content
    footer.footer
      aside.footer_container
        p © sercan ateş
