doctype html
html(lang="en")
  head
    title= doctitle
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="My personal web logs about technology.")
    link(rel="icon" type="image/png" href="/public/favicon.png")/
    link(rel="stylesheet" href="/styles/styles.css")
    block meta
    block scripts
  body
    header.site-header
      nav
        a(href='/').site-logo sercan.io
        a(href='/me').nav-link me
    block content