extends layout

block meta
  meta(name="description" content="Signup")

block content
  main
    form(action="/auth/login" method="post")
      h2 Login
      label(for="username") Username:
      input(type="text" id="username" name="username" required)
      label(for="password") Password:
      input(type="password" id="password" name="password" required)
      button(type="submit") Log In
