extends layout.pug

block content
  main.main
    .aboutme
      div(class="h-64").hero.h-fit.bg-inherit
        .hero-content.text-center
          .max-w-md
            h1.text-5xl.font-bold.postcard-title.aboutme-title hello there
            p.py-6 connect with me on various platforms to stay updated with my latest projects, thoughts, and adventures. Feel free to reach out—I'm always open to interesting conversations and collaborations.
      ul(clasS="timeline timeline-vertical md:timeline-horizontal")
        li
          .timeline-start.timeline-box
            a(href="https://linkedin.com/in/sercanates").link.link-primary LinkedIn
          .timeline-middle
            svg(fill="#214145" viewBox="0 0 50 50" width="25" height="25")
              path(d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56c3.97,0,7.19,2.73,7.19,8.26V39z")
          hr
        li
          hr
          .timeline-middle
            svg(w="25" h="25" fill="#214145" class="w-5 h-5")
              path(d="M10 0a10 10 0 00-3.16 19.49c.5.09.68-.22.68-.48v-1.69c-2.78.6-3.37-1.34-3.37-1.34-.46-1.17-1.12-1.48-1.12-1.48-.91-.62.07-.61.07-.61 1.01.07 1.54 1.04 1.54 1.04.9 1.54 2.36 1.1 2.94.84.09-.65.35-1.1.64-1.35-2.24-.25-4.58-1.12-4.58-4.96 0-1.1.39-2 1.04-2.7-.1-.26-.45-1.28.1-2.66 0 0 .85-.27 2.8 1.03.81-.23 1.68-.34 2.54-.34s1.73.11 2.54.34c1.95-1.3 2.8-1.03 2.8-1.03.55 1.38.2 2.4.1 2.66.64.71 1.04 1.6 1.04 2.7 0 3.85-2.34 4.7-4.58 4.95.36.31.68.92.68 1.86v2.76c0 .26.18.58.69.48A10 10 0 0010 0z")
          .timeline-end.timeline-box.link.link-primary
            a(href="https://github.com/sercanio").link.link-primary GitHub
          hr
        li
          hr
          .timeline-start.timeline-box.link.link-primary
            a(href="https://twitter.com/sercan_io").link.link-primary Twitter
          .timeline-middle
            svg(w="25" h="25" fill="#214145" class="w-5 h-5")
              path(d="M18.294 4.296c-.708.315-1.47.53-2.294.625a4.05 4.05 0 001.773-2.248 8.1 8.1 0 01-2.57.983 4.05 4.05 0 00-6.87 3.69A11.458 11.458 0 011.37 2.29a4.05 4.05 0 001.254 5.393 4.018 4.018 0 01-1.828-.503v.051a4.05 4.05 0 003.24 3.963 4.033 4.033 0 01-1.826.069 4.05 4.05 0 003.772 2.8 8.115 8.115 0 01-5.04 1.738A8.49 8.49 0 010 18.11 11.442 11.442 0 006.21 20c7.47 0 11.556-6.31 11.556-11.772 0-.18 0-.363-.014-.542a8.344 8.344 0 002.045-2.128v-.001z")
          hr
        li
          hr
          .timeline-middle
            svg(fill="#214145" viewBox="0 0 30 30" width="25" height="25")
              g
                circle(cx="15" cy="15" r="4")
                path(d="M19.999,3h-10C6.14,3,3,6.141,3,10.001v10C3,23.86,6.141,27,10.001,27h10C23.86,27,27,23.859,27,19.999v-10C27,6.14,23.859,3,19.999,3z M15,21c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S18.309,21,15,21z M22,9c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1s1,0.448,1,1C23,8.552,22.552,9,22,9z")
          .timeline-end.timeline-box.link.link-primary
            a(href="https://instagram.com/sercan.io").link.link-primary Instagram
          hr
        li
          hr
          .timeline-start.timeline-box.link.link-primary
            a(href="mailto:sercanates91@gmail.com").link.link-primary E-Mail
          .timeline-middle
            svg(fill="#214145" viewBox="0 0 50 50" width="25" height="25")
              path(d="M 14 4 C 8.4886661 4 4 8.4886661 4 14 L 4 36 C 4 41.511334 8.4886661 46 14 46 L 36 46 C 41.511334 46 46 41.511334 46 36 L 46 14 C 46 8.4886661 41.511334 4 36 4 L 14 4 z M 13 16 L 37 16 C 37.18 16 37.349766 16.020312 37.509766 16.070312 L 27.679688 25.890625 C 26.199688 27.370625 23.790547 27.370625 22.310547 25.890625 L 12.490234 16.070312 C 12.650234 16.020312 12.82 16 13 16 z M 11.070312 17.490234 L 18.589844 25 L 11.070312 32.509766 C 11.020312 32.349766 11 32.18 11 32 L 11 18 C 11 17.82 11.020312 17.650234 11.070312 17.490234 z M 38.929688 17.490234 C 38.979688 17.650234 39 17.82 39 18 L 39 32 C 39 32.18 38.979687 32.349766 38.929688 32.509766 L 31.400391 25 L 38.929688 17.490234 z M 20 26.410156 L 20.890625 27.310547 C 22.020625 28.440547 23.510234 29 24.990234 29 C 26.480234 29 27.959844 28.440547 29.089844 27.310547 L 29.990234 26.410156 L 37.509766 33.929688 C 37.349766 33.979688 37.18 34 37 34 L 13 34 C 12.82 34 12.650234 33.979687 12.490234 33.929688 L 20 26.410156 z")
