extends layout.pug

block content
  main.main
    section(class="card max-w-[62rem] mx-auto")
      div.card-body
        h1.card-title About Me
        p Hi there! My name is Sercan Ateş, and this is my personal blog about technology. I love exploring and sharing my knowledge in the ever-evolving world of tech.

        h2.card-subtitle Contact Information
        ul
          li Email: your.email@example.com
          li GitHub: [github.com/yourusername](https://github.com/yourusername)
          li Twitter: [@yourtwitterhandle](https://twitter.com/yourtwitterhandle)

        h2.card-subtitle Skills
        ul
          li Web Development
          li JavaScript (Node.js, Express, React)
          li HTML/CSS
          li Database Management (MongoDB, etc.)
          li Version Control (Git)
          li ...and more!

        h2.card-subtitle Interests
        p I am passionate about the following areas:
        ul
          li Software Development
          li Artificial Intelligence
          li Cybersecurity
          li Open Source Contributions

        h2.card-subtitle Education
        p I hold a degree in Computer Science from [Your University](https://www.youruniversity.edu).

        h2.card-subtitle Hobbies
        p When I'm not coding, you can find me:
        ul
          li Reading tech blogs
          li Trying out new coding projects
          li Exploring new technologies
          li Playing video games

