extends layout.pug

block content
  main.main
    article(class="card max-w-[62rem] mx-auto")
      div(class="card-body")
        h1(class="card-title")= postTitle
        p.post-date Published on #{postDate}
        .divider
        !=postContent