extends layout.pug

block content
  main.main
    article.card
      div(class="card-body")
        h1.card-title= postTitle
        p.post-date published on #{postDate.toLowerCase()}
        .divider
        !=postContent