@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --b1: 1 0 0;
    --b2: 0.961151 0 0;
    --padding-card: 1.25rem;
  }

  html,
  body {
    @apply min-h-screen;
  }

  body {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  .main {
    @apply h-full my-8 md:my-12 flex-grow flex flex-col;
  }

  .card {
    @apply page-width;
  }

  .card-body {
    @apply px-4;
  }

  .siteheader {
    @apply w-full page-width;
  }

  .sitenavbar {
    @apply bg-inherit;
  }

  .sitenavbar__container {
    @apply flex justify-between items-center w-full;
  }

  .divider {
    @apply my-[0.5rem];
  }

  .aboutme {
    @apply mt-12;
  }

  .aboutme-title {
    @apply cursor-default !important;
  }

  .timeline {
    @apply h-fit py-4;
  }

  .pagination {
    @apply w-fit mx-auto mt-2 mb-12;
  }

  .postcard {
    @apply page-width mx-auto;
  }

  .postcard-title,
  .site-logo,
  .readmore,
  .nav-link {
    @apply link link-primary no-underline text-xl;
  }

  .card-title {
    @apply text-primary;
  }

  .site-logo {
    @apply px-2 font-semibold;
  }

  .readmore {
    @apply w-fit text-base;
  }

  .nav-link {
    @apply text-lg mr-2;
  }

  .post-date {
    @apply text-sm;
  }

  .timeline {
    @apply bg-pattern;
  }

  .footer {
    @apply w-full p-4 bg-secondary text-base-content;
  }

  .footer_container {
    @apply page-width mx-auto px-4;
  }
}

@layer utilities {
  .page-width {
    @apply max-w-[54rem];
  }

  .bg-pattern {
    background-image: repeating-linear-gradient(
      45deg,
      var(--fallback-b1, oklch(var(--b1))),
      var(--fallback-b1, oklch(var(--b1))) 13px,
      var(--fallback-b2, oklch(var(--b2))) 13px,
      var(--fallback-b2, oklch(var(--b2))) 14px
    );
    background-size: 40px 40px;
  }
}
